<form class="m-5"></form> 
    <img src="../../../../assets/Arg Prog1.png" id="LOGOAP">
    <div> <button type="button" class="btn btn-info">Ingreso</button></div>
<li>
    <a href=""><img src="../../../../assets/FACEBOOK.png" alt="face"></a>
    <a href=""><img src="../../../../assets/Wsp.png" alt="wsp"></a>
    <a href=""><img src="../../../../assets/twitter.png" alt="twt"></a>
    <a href=""><img src="../../../../assets/insta.png" alt="insta"></a>
<div>
        <img src="../../../assets/banner.web.jpg" id="mibanner">
    </div> 
     
<div> <button type="button" class="btn btn-info">Proyectos</button></div>           
<div id="info-actions">
   
<button type="button" class="btn btn secondary">Añadir Seccion</button>
<button type="button" class="btn btn sucess">Mas</button>           
</div>


