<form class="m-4"> 
    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    <h1>Acerca de mi</h1>
       <figure class="figure">
            <img src="../../../assets/MI FOTO.jpg" class="img-fluid" alt="mifoto">
            <figcaption class="figure-caption"></figcaption>
            </figure>
            <a href="#" class="btn-rigth"><i class="fa fa pen" aria-hidden="true">
            </i>
            </a>
            
    <div id="info-company">Patricia Galun<div id="info-contact">
    <span>Cordoba (Argentina)</span>
    <span><a href="#" Asesora en alimentacion Saludable></a></span>
    </div>
            <p>Full Stack Developer Jr</p><br>
            <p><a href="#" class="btn-rigt">Informacion de Contacto</a><i class="fa fa pen" aria-hidden="true">
            </i></p>              
           <div class="parrafos">
            <p>Asesora en Alimentación Saludable, recibida en Coefix con titulo oficia</p><br>
            <p>Profesora de Entrenamiento Funcional, recibida en Coefix con titulo oficial</p><br>
            <p>Estudiante de Programación en Argentina Programa</p>
            </div>
            <div>
              
