<div class=" m -5"></div>
      <div id="ExperienciaLaboral">
        <div class="card-titles"></div>
          <div class="btn-edit"></div>
          <a href="#" class="btn-right"><i class="fa fa plus"></i></a></div>
          <h1>Hard & Soft Skill</h1>  

          <div>
            <div class="col-lg-11">
              <div class="col-lg-1"></div>
              <ul class="items-list">
                <li>
                  <div class="data-container">


<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'HTML'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'CSS'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'ANGULAR'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'JAVA'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'NETBEAN'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'GITHUB'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'EXCEL'"
[titleColor]="'#20c997'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fd7e14'"
  [innerStrokeColor]="'#ffc107'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
